<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Funcionários</title>
</head>
<body>
<h1>Lista de Funcionários</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Gênero</th>
        <th>Salário Base</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="funcionario : ${funcionarios}">
        <td th:text="${funcionario.idFuncionario}"></td>
        <td th:text="${funcionario.nome}"></td>
        <td th:text="${funcionario.idade}"></td>
        <td th:text="${funcionario.genero}"></td>
        <td th:text="${funcionario.salarioBase}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
